<html>

<head>
    <title>{{title}}</title>
    <script src="/static/authentication.js"></script>
</head>

<body>
    {{> navigation}}
    <h1>Login</h1>

    <form>
        <label>Username:</label>
        <input type="text" id="username" name="username" required />

        <label>Password:</label>
        <input type="password" id="password" name="password" required />
        <label id="password-errors" style="visibility:hidden;">Wrong username and password</label>
    </form>
    <button onclick="login()">Log In</button>

</body>

</html>