<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{> navigation}}
    <h1>Sign Up</h1>

    <form action="/signup" method="post">
        <label>Name:</label>
        <input type="text" name="name" required />
        <label>Surname:</label>
        <input type="text" name="surname" required />

        <label>Email:</label>
        <input type="email" name="email" required />

        <label>Username:</label>
        <input type="text" name="username" required />

        <label>Password:</label>
        <input type="password" name="password" required />

        <button type="submit">Sign Up</button>
    </form>
</body>

</html>